.profile-pic {
    width: 150px;
    height: 150px;
}
body{
    background-color: #270404a9;
}

div {
    width: 100vw;
    height: 100vh;
    color: #1b7dc2;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}


